@tailwind base;
@tailwind components;
@tailwind utilities;

.row {
  display: grid;
  width: 100%;
  grid-template-columns: 80px 1fr;
  align-items: center;
  padding-left: 15px;
}

.row label {
  color: var(--framer-color-text-secondary);
}

.row input,
.row select {
  width: 100%;
}
